*,
*::before,
*::after {
    box-sizing: border-box;
}

.popup-layout {
    height: 600px;
    width: 650px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);


}

.result {
    box-sizing: border-box;
    border: transparent;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    overflow-y: scroll;

}

.alerts-inner-layout::-webkit-scrollbar {
    display: none;
}

.alerts-inner-layout {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-main{
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
}

.content > * {
    margin: 0;
    padding: 0;
}

.container-content img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}